body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1350px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  height: 1680px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 610px;
  background: #1e2939;
  height: 1680px;
}

.cv-photo {
  margin-top: 25px;
  width: 100%;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.contact-links--hover:hover,
.contact-links--hover:focus {
  color: #fb6d3a;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  list-style-position: outside;
  padding-left: 16px;
  width: 280px;
}

.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}

main {
  padding: 30px 200px 40px 40px;
  width: 100%;
  height: 1680px;
}

.main-description {
  width: 100%;
}

.job-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
  width: 100%;
}

.projects {
  margin-bottom: 51px;
}

.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}

.list-primary-item__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: underline;
}

.list-primary-item__link:hover,
.list-primary-item__link:focus {
  color: #fb6d3a;
}

.list-primary-tem__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 100%;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #a8a8a8;
}

.job-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #595959;
  list-style-position: outside;
  padding-left: 16px;
}

.work-experiance {
  width: 570px;
  margin-bottom: 18px;
}

.manager-glory-new {
  width: 570px;
  margin-bottom: 20px;
}

.manager-glory-llc {
  width: 570px;
  margin-bottom: 43px;
}
